<script src="https://cdn.tailwindcss.com"></script>
<div id="write">
    <h1 class="text-center text-4xl font-bold mb-[20px]">게시글 작성</h1>
    <div class="bg-gray-300 w-[800px] h-[720px] mx-auto px-[20px] pt-5 rounded-lg">
        <div>
            <p class="text-2xl mb-[10px] font-bold">카테고리</p>
            <select name="" id="" class="h-10 rounded mb-[20px] indent-3 w-1/4">
                <option value="">대분류</option>
                <option value="">프론트</option>
                <option value="">백</option>
                <option value="">데이터베이스</option>
                <option value="">서버</option>
            </select>
            <select name="" id="" disabled class="h-10 rounded mb-[20px] indent-3 w-2/5">
                <option value=""></option>
            </select>
            <p class="text-2xl mb-[10px] font-bold">제목</p>
            <input type="text" class="h-10 w-4/5 rounded mb-[20px] indent-3" placeholder="강의 혹은 책의 제목을 입력해주세요.">
            <p class="text-2xl mb-[10px] font-bold">URL</p>
            <input type="text" class="h-10 w-4/5 rounded mb-[20px] indent-3" placeholder="URL을 입력해주세요.">
            <p class="text-2xl mb-[10px] font-bold">내용</p>
            <textarea class="h-[250px] w-full rounded mb-[20px] indent-3 resize-none pt-[10px]" placeholder="이 게시글을 추천하는 이유 혹은 내용 요약"></textarea>
            <div class="flex justify-between mx-[100px]">
                <button onclick="" class="text-xl bg-green-300 w-[170px] h-[50px] rounded-lg font-bold">게시글
                    등록</button>
                <button onclick="" class="text-xl bg-gray-400 w-[170px] h-[50px] rounded-lg font-bold">취소</button>
            </div>
        </div>
    </div>
</div>