<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div>
        <h1 class="text-center text-4xl font-bold mb-[20px]">게시글 작성</h1>
        <div class="bg-gray-300 w-[800px] h-[720px] mx-auto px-[20px] pt-5 rounded-lg">
            <div>
                <p class="text-2xl mb-[10px] font-bold">카테고리</p>
                <select name="" id="" class="h-10 rounded mb-[20px] indent-3 w-1/4">
                    <option value="">대분류</option>
                    <option value="">프론트</option>
                    <option value="">백</option>
                    <option value="">데이터베이스</option>
                    <option value="">서버</option>
                </select>
                <select name="" id="" disabled class="h-10 rounded mb-[20px] indent-3 w-2/5">
                    <option value=""></option>
                </select>
                <p class="text-2xl mb-[10px] font-bold">제목</p>
                <input type="text" class="h-10 w-4/5 rounded mb-[20px] indent-3" placeholder="강의 혹은 책의 제목을 입력해주세요.">
                <p class="text-2xl mb-[10px] font-bold">URL</p>
                <input type="text" class="h-10 w-4/5 rounded mb-[20px] indent-3" placeholder="URL을 입력해주세요.">
                <p class="text-2xl mb-[10px] font-bold">내용</p>
                <textarea class="h-[250px] w-full rounded mb-[20px] indent-3 resize-none pt-[10px]" placeholder="이 게시글을 추천하는 이유 혹은 내용 요약"></textarea>
                <div class="flex justify-between mx-[100px]">
                    <button onclick="" class="text-xl bg-green-300 w-[170px] h-[50px] rounded-lg font-bold">게시글
                        등록</button>
                    <button onclick="" class="text-xl bg-gray-400 w-[170px] h-[50px] rounded-lg font-bold">취소</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>